@media screen and (max-width: 2500px) {
  .btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .rec-b {
    display: none;
  }
  form {
    right: -154px;
    top: -89px;
    position: relative;
    box-shadow: 0px 22px 27px rgba(0, 0, 0, 0.317);
  }
  .grid {
    grid-template-columns: 1fr 2fr;
    padding: 15px 36px;
    font-weight: 300;
  }
  footer {
    /* height: 180px; */
    font-size: 14px;
  }
  .item3 {
    grid-column-start: 2;
    margin-top: 25px;
  }
  .item2 {
    margin-top: 25px;
  }
}
@media screen and (max-width: 426px) {
  .main {
    margin-left: 2rem;
    text-align: center;
  }
  form {
    right: -16px;
    top: -89px;
    padding: 20px 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }
  .item2 {
    grid-column-start: 1;
  }
  .item3 {
    grid-column-start: 1;
  }
  .dine-footer {
    margin-left: 67px;
    margin-top: 5px;
  }
  .dine-footer {
    width: 100px;
  }
  footer li {
    font-size: 16px;
  }
  .dine-b {
    margin-top: 45px;
    margin-left: 8rem;
  }
  .btn-form {
    padding: 15px 103px;
    margin-left: 6px;
  }
}
@media screen and (max-width: 376px) {
  form {
    width: 340px;
    height: 345px;
    padding: 10px;
    right: -6px;
  }
  footer {
    padding: 45px;
  }
  .dine-footer {
    margin-left: 54px;
  }
  .btn {
    display: unset;
    width: 280px;
  }
  .header-des {
    align-items: center;
  }
  .primary-heading {
    font-size: 2rem;
  }
  header p {
    font-size: 14px;
  }
  .main {
    margin: 0;
  }
  .dine-b {
    margin-top: 45px;
    margin-left: 127px;
  }
}
@media screen and (max-width: 321px) {
  #date {
    padding: 20px 0px 20px 0px;
    width: 45px;
    font-size: 13px;
  }
  form {
    width: 280px;
    padding: 5px;
    right: -15px;
  }
  .dine-b {
    margin-left: 104px;
  }
  #name {
    width: 280px;
  }
  input[type="email"] {
    width: 280px;
  }

  footer {
    padding: 32px;
  }
  footer li {
    font-size: 14px;
  }
  .dine-footer {
    margin-left: 39px;
  }
  .btn-form {
    padding: 15px 71px;
    margin-left: 6px;
  }
}
